asgiref==3.8.1
astroid==3.3.9
click==8.1.8
colorama==0.4.6
cssbeautifier==1.15.4
dill==0.4.0
Django==5.2
django-ckeditor-5==0.2.17
django-js-asset==3.1.2
djlint==1.36.4
EditorConfig==0.17.0
isort==6.0.1
jsbeautifier==1.15.4
json5==0.12.0
mccabe==0.7.0
numpy==2.2.5
pathspec==0.12.1
pillow==11.2.1
platformdirs==4.3.7
pylint==3.3.6
pylint-celery==0.3
pylint-django==2.6.1
pylint-plugin-utils==0.8.2
PyYAML==6.0.2
regex==2024.11.6
six==1.17.0
sqlparse==0.5.3
tomlkit==0.13.2
tqdm==4.67.1
tzdata==2025.2
