main{
	width:100%;
	height:2450px;
	padding-top:147px;
}
main .heroe{
	width:100%;
	min-height:780px;
	background:url(../img/fondoheroe.webp);
	background-size:cover;
	
}
main .contenedor{
	width:1280px;
	margin:auto;
	
}
span.dorado{
	color: #c2a464;
}
