@use 'base/variables' as v;
@use 'base/mixins' as m;

.paginacion {
    margin-top: 2rem;
    margin-bottom: 2rem;

    .paginador {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        list-style: none;
        padding: 0;

        li {
            &.actual {
                a {
                    background-color: v.$verde;
                    color: v.$blanco;
                }
            }

            a {
                display: block;
                padding: 0.5rem 1rem;
                border: 1px solid v.$gris;
                border-radius: 0.5rem;
                transition: background-color 0.3s ease;
                min-width: 3rem;
                text-align: center;

                &:hover {
                    background-color: v.$verde;
                    color: v.$blanco;
                }
            }
        }
    }
} 